.row0, .row0 a{
    color:#FFFFFF;
}
#topbar{
    padding:10px 0; 
    font-size:.8rem; 
    text-transform:uppercase;
}
#topbar {
    margin:0;
}
#topbar ul{
    float:right;
}
#topbar ul li{
    display:inline-block; 
    margin-right:15px;
}
#topbar ul li:last-child{
    margin-right:0; 
    padding-right:0; 
    border-right:none;
}
#topbar i{
    line-height:normal;
}
#topbar ul li:first-child a{
    color:#CF9C67;
}